.mainButton {
    font-family: 'Satoshi-Bold';

    padding: 1.6rem 4rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #FFFFFF;
    background-color: #3F7BF6;
    border-radius: 10rem;
}

.navButton {
    padding: 0.8rem 3rem;
}

.transparentButton {
    background-color: transparent;
    border: 1px solid #ffffff;
}