.mainButton {
    font-family: 'Satoshi-Bold';
    padding: 0.8rem 3rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: #FFFFFF;
    background-color: #3F7BF6;
    border-radius: 10rem;
}
.transparentButton{
    background-color: transparent;
}