.deliveryMap {
    padding: 8rem;
    background-color: #181D2B;
    display: flex;
    flex-direction: column;
    align-items: center;

    &Title {
        font-family: 'Satoshi-bold';
        font-size: 4rem;
        line-height: 110%;
        color: #FFFFFF;
        margin-bottom: 8rem;
    }
    &Image{
        width: 100%;
        height: 40vw;
        background-image: url(../../assets/images/map.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

    }
}