.orderNowBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181D2B;
    color: #FFFFFF;
    h2{
        font-family: 'Satoshi-Bold';
        font-size: 4rem;
        margin-bottom: 1.2rem;
       
    }
    p{
        font-size: 1.8rem;
        margin-bottom: 4rem;
    }
    padding: 8rem;
}