.specialOfferAdvantages {
    background-color: #242D34;
    padding: 2.4rem;
    // max-width: 66%;
    margin-bottom: 4rem;
    width: 100%;

    h3 {
        margin-bottom: 2.4rem;
        font-family: 'Satoshi-bold';
        font-size: 2.4rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // align-self: flex-start;
        flex-wrap: wrap;
        width: 100%;
        // height: 15rem;
    }

    li {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        margin-right: 2rem;
        page-break-inside: avoid;
        break-inside: avoid;
        p {
            font-size: 1.8rem;
        }
    }

    .icon {
        width: 1.9rem;
        height: 1.9rem;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.4rem;

        span {
            color: #242D34;
            font-weight: 700;
            font-size: 1.3rem;

        }
    }
}