.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 8rem;

    .logo {
        font-family: 'Satoshi-Bold';
        font-size: 3.2rem;
        line-height: 4.8rem;
    }

    .navigation {
        .navigationLink {
            color: #34383C;
            font-size: 1.6rem;
            line-height: 2.4rem;
            &:not(:last-child){
                margin-right: 4rem;
            }
        }

    }

    .navigationButton {
        padding: 0.8rem 3rem;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #FFFFFF;
        background-color: #3F7BF6;
        border-radius: 10rem;
    }
}