.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 8rem;


    .logo {
        font-family: 'Satoshi-Bold';
        font-size: 3.2rem;
        line-height: 4.8rem;
    }


    .navigationButton {
        padding: 0.8rem 3rem;
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: #FFFFFF;
        background-color: #3F7BF6;
        border-radius: 10rem;
    }
}

.whiteStyle {
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    .navigation {
        .navigationLink {
            color: #FFFFFF;
        }
    }
}