.benefits {
    padding: 12rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &Title {
        font-family: 'Satoshi-bold';
        font-size: 4.8rem;
        margin-bottom: 1.6rem;
        text-align: center;
    }
    &Text{
        font-size: 2rem;
        max-width: 50rem;
        margin-bottom: 12rem;
        text-align: center;
    }
}